*
#
!*/
!.gitignore
#
!ashell/*
#
!bash/*
#
!cmus/*
cmus/autosave
cmus/cache
cmus/command-history
cmus/search-history
cmus/lib.pl
#
!cursor/*
#
!dunst/*
#
!fish/*
fish/fish_variables
#
!hypr/*
#
!kitty/*
kitty/current-theme.conf
kitty.conf.bak
#
!nvim/lua/**
#
!systemd/*
#
!waypaper/*
waypaper/config.ini

