*
#
!*/
!.gitignore
#
!ashell/**
#
!bash/**
bash/temp
bash/state
#NOTE: temp probably if i remember to remove this later
bash/scripts/moshictl.sh
bash/scripts/plist.sh
#
!cmus/**
cmus/playlists/
cmus/autosave
cmus/cache
cmus/command-history
cmus/search-history
cmus/lib.pl
cmus/pywal.theme
#
!cursor/**
cursor/cursorSpeed
#
!dconf/**
dconf/user
#
!dunst/**
dunst/dunstrc
#
!fastfetch/**
#
!fish/**
fish/fish_variables
#
!hypr/**
hypr/hyprlock.conf
hypr/modules/hyprland_colors.lua
#
!keyd/**
#
!kitty/**
kitty/current-theme.conf
kitty.conf.bak
#
!MangoHud/**
#
!nvim/lua/**
!nvim/init.lua
#
!scripts/**
#
!systemd/**
systemd/user/graphical-session.target.wants/*
#
!quickshell/**
quickshell/data/log
#
!wofi/**
#
!waypaper/keybindings.ini
#
!wal/**
#
!waybar/**
# wk-kbptr
!wl-kbptr/**
#
!yazi/**
